# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# npm cache directory
.npm

# ESLint cache
.eslintcache

# System Generated
.DS_Store
